<div class="merch_header"> Little Esty Shop</div><br>
<div class ="merch_nav_button"><%= link_to "Merchant Invoices", "/merchants/#{@discount.merchant.id}/invoices" %></div>
<div class ="merch_nav_button"><%= link_to "Merchant Items", "/merchants/#{@discount.merchant.id}/items" %></div>
<div class ="merch_nav_button"><%= link_to "Merchant Bulk Discounts", "/merchants/#{@discount.merchant.id}/bulk_discounts" %></div>
<div class ="merch_nav_button"><%= link_to "Merchant Dashboard", "/merchants/#{@discount.merchant.id}/dashboard" %></div>
<div class ="merch_nav_button"><%= link_to "Admin Dashboard", "/admin" %></div>

<h3> <%= @discount.merchant.name %> </h3>
<br><br>
<div class="merch_sub_full_center">
<h3> Edit Discount  </h3></div><br><br>


<%= form_with url: "/merchants/#{@discount.merchant.id}/bulk_discounts/#{@discount.id}", method: :patch, data: { turbo:false }, local: true do |f| %>
  <%= f.label :discount_percent, "Discount Percent" %>
  <%= f.text_field :discount_percent, value: @discount.discount_percent %>

  <%= f.label :threshold, "Quantity Threshold" %>
  <%= f.text_field :threshold, value: @discount.threshold %>

  <%= f.submit "Submit" %>
<% end %>