<div class="merch_header"> Little Esty Shop</div><br>
<div class ="merch_nav_button"><%= link_to "Merchant Invoices", "/merchants/#{@merchant.id}/invoices" %></div>
<div class ="merch_nav_button"><%= link_to "Merchant Items", "/merchants/#{@merchant.id}/items" %></div>
<div class ="merch_nav_button"><%= link_to "Merchant Bulk Discounts", "/merchants/#{@merchant.id}/bulk_discounts" %></div>
<div class ="merch_nav_button"><%= link_to "Merchant Dashboard", "/merchants/#{@merchant.id}/dashboard" %></div>
<div class ="merch_nav_button"><%= link_to "Admin Dashboard", "/admin" %></div>

<h3> <%= @merchant.name %> </h3>
<br><br>
<div class="merch_sub_full_center">
<h3> Create New Discount  </h3></div><br><br>

<%= form_with url: "/merchants/#{@merchant.id}/bulk_discounts", method: :post, data: { turbo:false }, local: true do |f| %>
  <%= f.hidden_field :discount_add, value: "New_discount" %>
  <%= f.label :discount_percent, "Discount Percent" %>
  <%= f.text_field :discount_percent %>

  <%= f.label :threshold, "Quantity Threshold" %>
  <%= f.text_field :threshold %>

  <%= f.submit "Submit" %>
<% end %>