<body>
<div class="admin_header">Little Esty Shop</div><br>
<div class ="current_button">Invoices</div>
<div class ="nav_button"><%= link_to "Merchants", admin_merchants_path %> </div>
<div class ="nav_button"><%= link_to "Dashboard", admin_root_path %> </div>
<h3>Admin Dashboard</h3>
<br><br>

<div class="admin_sub_header"><%= "Invoice ##{@invoice.id}" %></h2></div>
<ol>
  <div class="button-container">
    Status: <%= render partial: 'form', locals: { 
                                          path: admin_invoice_show_path(@invoice),
                                          value: "show",
                                          selected: @invoice.status.titleize
                                        } %>
  </div><br>

  <b> Created on: </b> <%= @invoice.format_date %><br>
  <h3>Total Potential Revenue: <%= number_to_currency(@invoice.potential_revenue) %></h3>
  <% if @invoice.invoice_items.discounted_revenue(@invoice.id) != nil %>
    <h3><b><p>Total Discounted Revenue: <%= number_to_currency(@invoice.invoice_items.total_discount_revenue(@invoice.id)) %></p></b></h3>
  <% else %>
    <h3><b><p>Total Discounted Revenue: <%= number_to_currency(@invoice.invoice_items.total_revenue) %></p></b></h3>
  <% end %>
  <h3> <b>Customer Name: </b> <%= @invoice.customer.name %><br></h3>

  <h3>Items on this Invoice:</h3>
</ol>

<div class="table" role="region" tabindex="0">
  <table>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Status</th>
    </tr>
    <% @invoice.invoice_items.each do |ii| %>
    <tr>
      <td><%= ii.item.name %></td>
      <td><%= ii.quantity %></td>
      <td><%= ii.price %></td>
      <td><%= ii.status.capitalize %></td>
    </tr>
      <% end %>
  </table>
</div>

</body>