<body>
 <div class="merch_header"> Little Esty Shop</div><br>
 <div class ="merch_nav_button"><%= link_to "Merchant Invoices", "/merchants/#{@merchant.id}/invoices" %></div>
 <div class ="merch_nav_button"><%= link_to "Merchant Items", "/merchants/#{@merchant.id}/items" %></div>
 <div class ="merch_current_button">Merchant Dashboard</div>
<h3> Name: <%= @merchant.name %></h3>
<p><%= link_to "View All My Discounts", merchant_bulk_discounts_path(@merchant) %></p>
<br><br>

<div class="two-columns">
  <div>
    <div class="merch_sub">
    <h3> Items Ready to Ship</h3></div><br><br><br><br><br>
      <section id="Items-Ready-to-Ship">
        <ol><% @merchant.items_ready_to_ship_ordered_oldest_to_newest.each do |item| %>
            <p><%= item[:name] %> - Invoice #<%= link_to item[:invoice_id], "/merchants/#{@merchant.id}/invoices/#{item[:invoice_id]}" %> - <%= item.date.strftime('%A, %B %e, %Y') %></p>
          <% end %>
        </ol>
      </section>
    </div>
    
    <div>
      <div class="merch_sub"><h3> Top 5 Customers </h3></div><br><br>
        <div class="enlarge_list"><br><br>
          <ol>
            <% @merchant.top_5_customers_from_transactions.each do |c| %>
              <li><%= c.name %> - <%= c.num_transactions %> purchases </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

