<div class="merch_header">Little Esty Shop</div><br>
<div class ="merch_nav_button"><%= link_to "Merchant Invoices", "/merchants/#{@item.merchant.id}/invoices" %></div>
<div class="merch_nav_button"><%= link_to "Merchant Items", merchant_items_path %></div>
<div class ="merch_nav_button"><%= link_to "Merchant Bulk Discounts", "/merchants/#{@item.merchant.id}/bulk_discounts" %></div>
<div class="merch_nav_button"><%= link_to "Merchant Dashboard", merchant_dashboard_index_path %></div>
<div class ="merch_nav_button"><%= link_to "Admin Dashboard", "/admin" %></div>

<h3><%= @item.merchant.name %></h3><br><br>


<p class="merch_subhead">Edit Item</p>

<%= form_with url: "/merchants/#{@item.merchant.id}/items/#{@item.id}", method: :patch, data: { turbo:false }, local: true do |f| %>
  <%= f.hidden_field :item_update, value: "Update_item" %>
  <%= f.label :name, "Item Name" %>
  <%= f.text_field :name, value: @item.name %>

  <%= f.label :description, "Item Description" %>
  <%= f.text_field :description, value: @item.description %>

  <%= f.label :unit_price, "Item Unit Price" %>
  <%= f.text_field :unit_price, value: @item.unit_price %>

  <%= f.submit "Submit" %>
<% end %>