<div class="header"><h1>Little Esty Shop</h1></div>



<ul>
  <li><a> <%= @merchant.name %>'s Items </a></li>
  <li><%= link_to "Create a new item", "/merchants/#{@merchant.id}/items/new" %></li>
</ul>



<p class="solid"><b> Items for <%= @merchant.name %> </b></p>

<div class="three-columns">
  <div>
  <div class="subhead"><p><h3>Enabled Items</h3></p></div>
    <% @merchant.items.each do |item| %>
      <div id="enabled_item-<%= item.id %>">
        <% if item.enable == true %>  
          <ol>
            <p> Item Name: <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> 
            
            <%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { :commit => "Disable" } %>
          </ol>
        <% end %> 
      </div>
    <% end %>
  </div>

  <div>
  <div class="subhead"><p><h3>Disabled Items</h3></p></div>
  <% @merchant.items.each do |item| %>
    <div id="disabled_item-<%= item.id %>">
      <% if item.enable == false %>
        <ol>
          <p> Item Name: <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> 
        
          <%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { :commit => "Enable" } %></p>
        </ol>
      <% end %>
    </div>
  <% end %>
  </div>


  <div>
  <div class="subhead"><h3>Top 5 Popular Items and Revenue</h3></div>
    <div id="popular_items-<%= @merchant.id %>">
      <ol><% @merchant.popular_items.each do |item|%>
          <li><h4><%= item.name %> </h4> <%= number_to_currency(item.total_revenue) %> in sales<br>
          Top selling date: <%= item.name %> <%= item.top_sale_date %><br></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>