<div class="merch_header">Little Esty Shop</div>
<div class="merch_current_button">Create a new item</div>
<div class="merch_nav_button"><%= link_to "Items", merchant_items_path %></div>
<div class="merch_nav_button"><%= link_to "Dashboard", merchant_dashboard_index_path %></div><br><br><br>

<div class="merch_subhead">Add a New Item</div>

<%= form_with url: "/merchants/#{@merchant.id}/items", method: :post, data: { turbo:false }, local: true do |f| %>
  <%= f.hidden_field :item_add, value: "Add_item" %>
  <%= f.label :name, "Item Name" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Item Description" %>
  <%= f.text_field :description %>

  <%= f.label :unit_price, "Item Unit Price" %>
  <%= f.text_field :unit_price %>

  <%= f.submit "Submit" %>
<% end %>