<body>
<div class="merch_header">Little Esty Shop</div><br>
<div class="merch_nav_button"><%= link_to "Merchant Items", merchant_items_path %></div>
<div class ="merch_nav_button"><%= link_to "Merchant Invoices", "/merchants/#{@merchant.id}/invoices" %></div>
<div class="merch_nav_button"><%= link_to "Merchant Dashboard", merchant_dashboard_index_path %></div>
<h3><%= @merchant.name %></h3>
<div class="merch_subhead">Add a New Item</div><br><br>

<%= form_with url: "/merchants/#{@merchant.id}/items", method: :post, data: { turbo:false }, local: true do |f| %>
  <%= f.hidden_field :item_add, value: "Add_item" %>
  <%= f.label :name, "Item Name" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Item Description" %>
  <%= f.text_field :description %>

  <%= f.label :unit_price, "Item Unit Price" %>
  <%= f.text_field :unit_price %>

  <%= f.submit "Submit" %>
<% end %>