<body>
 <div class="merch_header"> Little Esty Shop</div><br>
 <div class ="merch_nav_button"><%= link_to "Merchant Invoices", "/merchants/#{@merchant.id}/invoices" %></div>
 <div class ="merch_nav_button"><%= link_to "Merchant Items", "/merchants/#{@merchant.id}/items" %></div>
 <div class ="merch_nav_button"><%= link_to "Merchant Dashboard", "/merchants/#{@merchant.id}/dashboard" %></div>
<h3> <%= @merchant.name %> </h3>
<br><br>

<div class="merch_sub_full_center">
 <h3> Invoice #<%= @invoice.id %></h3></div><br><br><br><br><br>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice Date: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>

<p>Total Revenue: <%= number_to_currency(@invoice.potential_revenue, unit: "$") %></p>

<p>Customer Name: <%= @invoice.customer.name %></p>

</div>

<p class="solid">Invoice Items</p>
<% @invoice.items.each do |item| %>
  <% item.invoice_items.each do |ii| %>
    <% if ii.invoice_id == @invoice.id %>
      <p>Item Name: <%= item.name %></p>
      <p>Item Quantity: <%= ii.quantity %></p>
      <p>Item Price: <%= item.unit_price %></p>
      <p>Status: <%= ii.status %></p>

      <%= form_with url: "/merchants/#{@invoice.items.first.merchant.id}/invoices/#{@invoice.id}", method: :patch, data: {turbo: false} do |f| %>
        <%= f.hidden_field :merchant_id, value: item.merchant.id %>
        <%= f.hidden_field :invoice_id, value: @invoice.id %>
        <%= f.hidden_field :invoice_item_id, value: ii.id %>
        <%= f.select :status_update, ["pending", "packaged", "shipped"], selected: ii.status %>
        <%= f.submit "Update Item Status" %>
      <% end %>

    <% end %>
  <% end %>
<% end %>



