<body>
 <div class="merch_header"> Little Esty Shop</div><br>
 <div class ="merch_nav_button"><%= link_to "Merchant Invoices", "/merchants/#{@merchant.id}/invoices" %></div>
 <div class ="merch_nav_button"><%= link_to "Merchant Items", "/merchants/#{@merchant.id}/items" %></div>
 <div class ="merch_nav_button"><%= link_to "Merchant Dashboard", "/merchants/#{@merchant.id}/dashboard" %></div>
 
<h3> <%= @merchant.name %> </h3>
<br><br>

<div class="merch_sub_full_center">
<h3> Invoice #<%= @invoice.id %></h3></div><br><br>
<b><p>Invoice Status: <%= @invoice.status %></p></b>
<b><p>Invoice Date: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p></b>

<h3><b><p>Total Revenue: <%= number_to_currency(@invoice.invoice_items.total_revenue) %></p></b></h3>
<% if @invoice.invoice_items.discounted_revenue(@invoice.id) != nil %>
  <h3><b><p>Total Discounted Revenue: <%= number_to_currency(@invoice.invoice_items.total_discount_revenue(@invoice.id)) %></p></b></h3>
<% else %>
  <h3><b><p>Total Discounted Revenue: <%= number_to_currency(@invoice.invoice_items.total_revenue) %></p></b></h3>
<% end %>
<h3>Items on this Invoice:</h3>

<h3>Customer Name: <%= @invoice.customer.name %></h3>

</div>

<h3>Items on this Invoice</h3>

<div class="m_table" role="region" tabindex="0">
  <table>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Status</th>
      <th>Discount Link</th>
      <th>Status Change</th>
    </tr>
    <% @invoice.items.each do |item| %>
      <% item.invoice_items.each do |ii| %>
        <div id="item-<%= item.id %>">
          <% if ii.invoice_id == @invoice.id %>
            <tr>
              <td><%= item.name %></td>
              <td><%= ii.quantity %></td>
              <td><%= item.unit_price %></td>
              <td><%= ii.status %></td>
              <td>
                <% if ii.top_discount != nil %>
                  <%= link_to "Discount Applied", "/merchants/#{@merchant.id}/bulk_discounts/#{ii.top_discount}" %>
                <% else ii.top_discount == nil %>
                  <p>No discount applied</p>
                <% end %>
              </td>
              <td><%= form_with url: "/merchants/#{@invoice.items.first.merchant.id}/invoices/#{@invoice.id}", method: :patch, data: {turbo: false} do |f| %>
                <%= f.hidden_field :merchant_id, value: item.merchant.id %>
                <%= f.hidden_field :invoice_id, value: @invoice.id %>
                <%= f.hidden_field :invoice_item_id, value: ii.id %>
                <%= f.select :status_update, ["pending", "packaged", "shipped"], selected: ii.status %>
                <%= f.submit "Update Item Status" %>
              <% end %></td>
            </tr>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>